@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback');
@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);
@import url(https://cdn.quilljs.com/1.2.6/quill.snow.css);
@import url('additional-styles/slider.css');

@tailwind base;
@tailwind components;

// Additional styles
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/theme.scss';
// @import 'additional-styles/form.scss';
@tailwind utilities;

// Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive
@responsive {
  .rtl {
    direction: rtl;
  }
}

// See Alpine.js: https://github.com/alpinejs/alpine#x-cloak
[x-cloak] {
  display: none;
}

// AOS styles
$aos-distance: 16px;
@import 'node_modules/aos/src/sass/aos.scss';
@import 'node_modules/swiper/swiper.scss';

@media screen and (max-width: 768px) {
  [data-aos] {
    pointer-events: auto !important;
  }

  html:not(.no-js) [data-aos^='fade'][data-aos^='fade'] {
    opacity: 1 !important;
  }

  html:not(.no-js) [data-aos='fade-up'] {
    transform: none !important;
  }
}
